<div id="navigation">
	<ul>
		<li><a href="index.html">About</a></li>
		<li><a href="schematic.html">Schematic</a></li>
		<li><a href="procedure.html">Procedure</a></li>
		<li><a href="pictures.html">Pictures</a></li>
	</ul>
</div>
