{{header.html}}
{{navigation.html}}
<div id="content">
	<span class="section">About GreenMiner</span>
	<p>Research by Abram Hindle, Jed Barlow, Alex Wilson, Kent Rasmussen to investigate power consumption of mobile device software.</p>
	<img src="images/galaxy_nexus_piston.gif" title="It's a metaphor." />
</div>
{{footer.html}}
