{{header.html}}
{{navigation.html}}
<div id="content">
	<span class="section">Procedure</span>
	<p>The basic procedure for a test is as follows:</p>
	<ol>
		<li>Upload .apk (android application) to phone</li>
		<li>Start test on phone (test has a small delay inside to compensate for the next step)</li>
		<li>Disconnect phone from USB connection to computer</li>
		<li>Log power consumption</li>
	</ol>
	<p>Our test bed is automated to add tests via. a web interface and automatically run them on multiple phones. After the tests are complete, statistics are computed.</p>
	<span class="section">Software</span>
	<p>Phones are manipulated using ADB and MonkeyScript</p>
	<p>Various scripts to perform automation and graph results are written in Bash, Perl, Python and R.</p>
        <p><a href="https://bitbucket.org/abram/green-miner">Get the source code!</a></p>
	<span class="section">Hardware</span>
	<p>We use Samsung Galaxy Nexus phones running (as of June 18, 2013) Android 4.2.2.</p>
	<p>We use a <a href="http://www.amazon.ca/tools-building-supplies/dp/B00C056Q7Y">30V 5A Variable Power Supply (YIHUA YH-305D)</a> set to ~4.1V to provide power to the phones.</p>
	<p>We use Raspberry Pis to monitor output from the Arduinos, which are monitoring the power consumption</p>
	<p>To measure current, we use an <a href="http://www.adafruit.com/products/904">Adafruit INA219 Breakout Board</a>, where the INA219 is programmed to 16V and ~+/-1.3 Amp resolution.</p>
</div>
{{footer.html}}
