.progressBar {
    width:50px;
    height:10px;
    overflow:hidden;
    background-color:#EDB4ED;
        -moz-border-radius:10px;
        -webkit-border-radius:10px;
        -ms-border-radius:10px;
        -o-border-radius:10px;
        border-radius:10px;
    display: inline-block;
}

.progressBar span {
    background-color:#E00DE0;
    margin-top:0;
    margin-left:-50px;
    width:50px;
    height:10px;
    display: block;
}
