html, body {
    padding: 0;
    margin: 0;
}

.hearts {
    background-image: url(images/hearttiles.png);
}

.header {
    margin: 0;
    padding-top: 1em;
    width: 100%;
    text-align: center;
    color: white;
    background-image: url(images/leaf.jpg);
    height: 150px;
}

h1 {
    text-shadow: 0 0 15px rgba(255, 255, 255, 1);
}

table {
    margin: 1em auto 0 auto;
    border: none;
    width: 100%;
    background-color: white;
}


th, td {
    font-family: 'Inconsolata', sans-serif;
}

td {
    padding: 0 0.3em;
}

tr.headers td {
    border-bottom: thin solid black;
}

tr.even {
    background-color: white;
    color: black;
}

tr.odd {
    background-color: #EFEFEF;
    color: black;
}

.content-main {
    display: block;
    background-color: white;
    padding: 1em 5em;
}

.center {
    max-width: 700px;
    margin: 0 auto;
}

.app-list  {
   list-style: none; 
}

.app-list .title {
    font-size: 150%;
    border: thin solid pink;
    border-radius: 5px 5px 0 0;
    padding: 0.2em;
    cursor: pointer;
}

.app-list > li {
    margin: 1em 0;
    float: left;
    width: 100%;
    clear: both;
}

.app-list .body {
    border: thin solid pink;
    border-radius: 0 0 5px 5px;
    border-top: none;
    float: left;
    width: 100%;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.app-list .left {
    width: 50%;
    float: left;
}

.app-list .right {
    width: 50%;
    float: right;
}

.app-list .body span  {
    font-size: 120%;
}

.app-list .body ul {
    list-style: none;
}

.center-text {
    text-align: center;
}

pre.traceback {
  width: 90%
}
